:root {
    --typewriterSpeed: 2s;
    --typewriterCharacters: 10;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    background-color: peachpuff;
    flex-direction: row;
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
}

.header-nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 100%;
}

.header-nav > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.header-nav > li {
    margin: auto 0;
}

.header-nav a {
    display: block;
    padding: 1rem;
    align-self: center;
    color: black;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}

.header-nav a:hover {
    background-color: white;
}

.nav-option {
    height: 100%;
}

.section {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: tomato;
    height: 100vh;
}

.section-one__title {
    position: relative;
    font-family: monospace;
    color: black;
    margin-bottom: 10px;
    clip-path:inset(0% calc(100% - 0.1em) 0% 0%);
    animation: typewriter 
        calc(1s * (var(--typewriterCharacters) / 3)) steps(var(--typewriterCharacters)) 1s forwards;
}

.section-one__title::before,
.section-one__title::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.section-one__title::before {
    width: 0.1em;
    background: black;
    animation: 
        blink 0.5s infinite,
        cursor-type calc(1s * (var(--typewriterCharacters) / 3)) steps(var(--typewriterCharacters)) 1s forwards;
}

.section-one__desc {
    font-style: italic;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

.section-one__img-hello {
    position: absolute;
    height: 1000px;
    opacity: 0.1;
}

.section-one__links-container {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-self: flex-end;
    opacity: 0;
    animation: fadeInRight 2s ease calc(var(--typewriterSpeed) + 3s) forwards;
}

.img-link {
    width: 35px;
    padding-bottom: 20px;
}

#section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: teal;
    height: 100vh;
}

.section-two__title {
    text-align: center;
    width: 35%; 
    color: white;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 2px solid white;
}

.section-two__img-code {
    position: absolute;
    z-index: 5;
    opacity: 0.1;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.section-two__grid {
    display: grid;
    width: 80%;
    margin: 0 auto;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.section-two__grid-item {
    background-color: grey;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 60px 15px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
    cursor: pointer;
    z-index: 10;
    font-weight: 700;
    font-size: 1rem;
}

.grid-item__title-container {
    position: absolute;
    color: black;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 15px;
    white-space: nowrap;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
    background-color: peachpuff;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}

.section-two__grid-item:hover .grid-item__title-container {
    background-color: white;
}

.section-two__grid-item:hover .grid-item__title-chevron {
    color: teal;
}

.grid-item__title-chevron {
    display: inline;
    color: peachpuff;
    transition: color 0.3s ease-out;
    font-family: monospace;
}

#section-three {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: white;
    background-color: #3b3b3b;
}

.section-three__contact-info {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.section-three__contact-info p {
    padding: 0 20px;
    border-left: 1px solid white;
}

.section-three__contact-info p:last-child {
    border-right: 1px solid white;
}

@keyframes typewriter {
    to {
        clip-path:inset(0% 0% 0% 0%);
    }
}

@keyframes cursor-type {
    to {
      left: calc(100% - 0.1em);
    }
  }

@keyframes blink {
    to {
        background: transparent;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}